.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
}

button {
  border-radius: 8px;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.2em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #26a739;
  cursor: pointer;
}

.productsContainer {
  margin: 1.2em;
}
/* .productsContainer input {
  margin: 0 auto;
  justify-content: center;
} */

.productsList {
  margin-top: 2em;
}

.searchContainer {
  width: 100%; /* O input ocupará 100% da largura disponível */
  display: flex;
  justify-content: center; /* Centraliza o input horizontalmente */
  margin-bottom: 20px; /* Espaço entre o input e o header */
}

.searchContainer input {
  padding: 0.5em;
  font-weight: bold;
  border: none;
}
.searchContainer input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
